* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    text-align: center;
    background-color: rgb(195, 6, 0);
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 80px;
    height: auto;
    
}


body {
    background-color: #004D98;
   
}


div {
    background-color: #FFFFFF;
    margin: 10px;
    padding: 20px;
    border-radius: 5px; 
    text-align: center;
    
}
.images{
    max-width: 500px;
    height: 350px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav li {
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav a:hover {
    color: #d41a2b;
}
table{
    margin: auto;
    text-align: center;
}
footer {
    text-align: center;
    background-color: #004d98;
    color: white;
    padding: 10px 0;
}
